{{> header}}
<h1>Welcome to the Blog</h1>
{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.content}}</p>
    <small>Created by {{this.username}} on {{this.createdAt}}</small>
  </div>
{{/each}}
